<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>name</key>
		<string>My Great Repository</string>
		<key>maintainer</key>
		<string>John Doe</string>
		<key>contact</key>
		<string>jdoe@email.com</string>
		<key>url</key>
		<string>http://mygreatsite.com</string>
		<key>category</key>
		<string>Fun</string>
		<key>description</key>
		<string>This is my great repository for Installer 4. Woo hoo!</string>
	</dict>
</dict>
</plist>
